rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /live_sessions/{document=**} {
      allow read, write: if true;
    }
  }
}
